@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.dialog-closed {
  transform: translateX(100%);
}

.dialog-open {
  transform: translateX(0);
  transition: transform 1.5s ease-in-out;
}
